Feature: Title (one line describing the story/feature)

  As a    [role]
  I want  [feature]
  So that [benefit]

  Background: This is setup instructions for the scenarios

      # https://github.com/cucumber/cucumber/wiki/Background
    Given [Something exists]
    And [Something Also Exists]
    And [Another Thing Also Exists]
    When [Some Condition is True]
    And [Some Other Condition is True]

    # https://github.com/cucumber/cucumber/wiki/Scenario-Outlines
  Scenario Outline:
    Given [Start with Some Value] <Original>
    When  [Value is Changed] <Changed>
    Then  [Value should be] <Final>

    Examples: [A Title for the Table]
    # Should be all the same TYPE but just for example
      | Original     | Changed  | Final              |
      | 5            | -2       | 3                  |
      | 10           | +5       | 15                 |
      | "Some Value" | +"Added" | "Some Value Added" |

  Scenario: Title1 (for Behaviour 1)

    Given [context or setup]
    And  [some more context]...
    When [event occurs]
    Then [expected outcome]
    And  [another outcome]...

  Scenario: Title2 (for Behaviour 2)
  ...